*{
    margin: 0;
    padding: 0;
}

.App h1 {
    display:flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
}
body{
    background-color: snow;

}

.heading{
    margin-bottom: 50px;
}

.navbar-links-container a {

    margin-right: 3rem;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-link:hover{
    text-decoration: none;
    border-bottom: 3px solid white;

}
.img-con {
    
    position: relative;
}
.nav-container{
    position: absolute;
    top: 0;
    right:0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.hotel1{
    width: 100%;
    height: auto;
    position: relative;

}
.text-container{
    position :absolute;
    top: 40%;
    right:50%;
    color: white;
}

.facilities, .rooms{
    text-align: center;
    color: rgb(4, 4, 18);
}
.facilities h1, .rooms h1 {
    font-family: serif;
    font-size: 60px;
    text-align: center;
    
}
.facilities p, .rooms p{
    font-size: 20px;
}
.hotel1{
    width: 100%;
    height: auto;
    position: relative;

}
.gym1{
    width: 100%;
    height: auto;
    position: relative;

}
.poolbar{
    width: 100%;
    height: auto;
    position: relative;

}
.spa1{
    width: 100%;
    height: auto;
    position: relative;

}
.swimmingpool{
    width: 100%;
    height: auto;
    position: relative;

}
.restuarent{
    width: 100%;
    height: auto;
    position: relative;

}
.laundry{
    width: 100%;
    height: auto;
    position: relative;

}
.rooms-container {
    text-align: center;
    position:relative;
    width:100%;
    height:100vh;
    object-fit: cover;
    
}
.my-5gradient-form{
    display: flex;
    
}
.login-image{
    align-items: center;
}
.login-container{
    padding-left: 600px;
}
.btnbtn-warning{
    color: orange;

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 400px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.card-image{
    width: 30%;
    height: 300px;
    margin-top: 50px;
    margin-left: 55px;
    border-radius: 10px;

}